# Ключ доступа к удаленному LLM (HackAI)
HACKAI_API_KEY=

# Настройки удаленного LLM
REMOTE_LLM_HOST=
REMOTE_LLM_PORT=
REMOTE_LLM_MODEL=
REMOTE_LLM_PATH=

# Ключ(и), которые будут использовать ваши клиенты для доступа к вашему API
# Можно указать несколько через запятую
SERVICE_API_KEYS=

# Куда внутри контейнера сохранять результаты генерации видео
HACKSPRING_JOBS_DIR=/tmp/hackspring_jobs
